.devspace
.dockerignore
.DS_Store
.editorconfig
.eslintcache
.eslintignore
.gitignore
.history
.prettierignore
.react-router
.vscode
.yarn
*.lock
*.png
*.toml
**/*.svg
/build
/dist
/public
CNAME
docker
Dockerfile*
LICENSE
yarn-error.log
